@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --very-dark-blue:hsl(217, 54%, 11%);
    --dark--blue: hsl(216, 50%, 16%);
    --soft--blue: hsl(215, 51%, 70%);
    --cyan:hsl(178, 100%, 50%);
    --line-color: hsl(215, 32%, 27%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body{
    background-color: var(--very-dark-blue);
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 18px;
}

/* container styles */
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #080808;
    background-color: var(--dark--blue);
    width: 30%;

}

/* divider styles */
#divider{
    width: 380px;
    margin: 20px 0px 20px 20px;
    height: 1px;
    border-color: var(--line-color);
    
}

/* image styles */
#nft{
    height: 420px;
    width: 420px;
    padding: 20px;
    border-radius: 30px;
}

.img{
    padding: 5px;
    display: flex;
    justify-content: center;
}

/* title styles */
.title{
    padding-left: 20px;
    font-weight: 400;
}

/* info styles */
.info{
    padding-left: 20px;
    font-weight: 300;
    margin: 10px 0;
    color: #737373;
}

/* currency styles */
#currency{
    font-weight: 600;
    color: var(--cyan);
}

/* info2 styles */
.info2{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

}

/* profile image styles */
.profile-image{
    display: flex;
    flex-direction: row;
}

/* profile styles */
#profile{
    margin: 0 20px 20px;
    height: 43px ;
    width: 43px ;
    border: 1px solid wheat;
    border-radius: 50px;

}

i{
    margin-left: 2px;
}

.creator{
    margin: 10px 0 0 10px;
}

span{
    color: #737373;
    margin: 0 10px 0 0;
}
